<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="dev">
        <property name="LOG.APPENDER" value="Console"/>
<!--        <property name="SENTRY.APPENDER.LEVEL" value="OFF"/>-->
    </springProfile>

    <springProfile name="!dev">
        <property name="LOG.APPENDER" value="Console"/>
<!--        <property name="SENTRY.APPENDER.LEVEL" value="ERROR"/>-->
    </springProfile>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %cyan(%X{X-Request-ID}) %highlight(%-5level) %logger{36}.%M\(%line\) - %msg%n
            </pattern>
        </layout>
    </appender>

<!--    <appender name="Sentry" class="io.sentry.logback.SentryAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>${SENTRY.APPENDER.LEVEL}</level>-->
<!--        </filter>-->
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %X{X-Request-ID} %-5level-->
<!--                %logger{36}.%M\(%line\) - %msg%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <logger name="com.mcr" level="INFO"/>

    <root level="ERROR">
        <appender-ref ref="${LOG.APPENDER}"/>
<!--        <appender-ref ref="Sentry"/>-->
    </root>
</configuration>
